body{
	font-family:微軟正黑體;
}
p{
	font-size:20px;
}
#main {
	position: relative;
	/*相對位置，沒設置的話會被固定在頂部的header蓋掉*/
	background-color: black;
	padding-top:100px;
	color:white;
	min-height: 100vh;
}
#BOX{
	text-align: center;
}
#BOX a{
	text-decoration:none;
	color:white;
}
#BOX img{
	width:20%;
	border:1px solid white;
	margin:5px 5px 5px 5px;
	cursor: pointer;
}
.box{
	border:1px solid white;
	padding:10px;
	margin-bottom:10px;
}
.box:hover{
	border-color:#F00;
}
#jumpImage{
	position: fixed;
	top:0;
	text-align: center;
	width:100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	display: none;
	z-index: 99999;
}
#jumpImage img{
	cursor:pointer;
	max-height:95vh;
	max-width: 100vw;

}
#jumpImage span{
	color:#f00;
	font-size: 80px;
	cursor:pointer;
	position: fixed;
	opacity: 0.1;
}
#jumpImage span:hover{
	opacity: 1;
}
button#close{
	font-weight: bold;
	font-size: 20px;
}